.integrationItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: start;
  width: 100%;
  height: 100%;
  padding: 16px;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 20.807px;
  border: 1px solid #eaeaea;
  background: $c-white;
  box-shadow: 0px 5.202px 5.202px 0px rgba(182, 182, 182, 0.13);
  .integrationItemContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    gap: 10px 0;
    padding: 5px 5px 5px 9px;

    .integrationItemLabelWrapper {
      width: max-content;
      border-radius: 10px;
      overflow: hidden;

      .integrationItemLabel {
        display: inline-flex;
        padding: 6px 13px 8px 13px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        font-size: 14px;
        font-weight: 700;
      }

      .integrationItemLabel.blue {
        border: 1px solid rgba(132, 193, 200, 0.05);
        border-image: linear-gradient(
            to left,
            rgba(132, 193, 200, 0.05),
            rgba(132, 193, 200, 0.35),
            rgba(132, 193, 200, 0.05)
          )
          1;
        background: rgba(132, 193, 200, 0.15);
        color: #41939c;
      }

      .integrationItemLabel.green {
        border: 1px solid rgba(85, 143, 33, 0.05);
        border-image: linear-gradient(
            to left,
            rgba(85, 143, 33, 0.05),
            rgba(85, 143, 33, 0.3),
            rgba(85, 143, 33, 0.05)
          )
          1;
        background: rgba(126, 187, 72, 0.15);
        color: #558f21;
      }

      .integrationItemLabel.orange {
        border: 1px solid rgba(248, 186, 54, 0.05);
        border-image: linear-gradient(
            to left,
            rgba(248, 186, 54, 0.05),
            rgba(248, 186, 54, 0.3),
            rgba(248, 186, 54, 0.05)
          )
          1;
        background: rgba(248, 202, 104, 0.15);
        color: #d1971d;
      }
    }

    .integrationItemTitle {
      color: $c-black-primary;
      font-size: 22px;
      font-weight: 500;
      line-height: 114.8%; /* 25.256px */
      letter-spacing: -0.33px;
    }

    @media screen and (max-width: $s-tablet) {
      .integrationItemTitle {
        font-size: 20px;
        letter-spacing: -0.27px;
      }
    }

    .integrationItemSubtitle {
      color: #545454;
      font-size: 14px;
      font-weight: 400;
      line-height: 120%; /* 16.8px */
    }
  }

  .integrationItemIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    border-radius: 14px;
    background: $c-white;
    box-shadow: 0px 5.202px 5.202px 0px rgba(182, 182, 182, 0.13);
  }

  .integrationItemIconWrapper.blue {
    border: 1px solid rgba(65, 147, 156, 0.15);
  }

  .integrationItemIconWrapper.green {
    border: 1px solid rgba(85, 143, 33, 0.15);
  }

  .integrationItemIconWrapper.orange {
    border: 1px solid rgba(209, 151, 29, 0.15);
  }
}
.scrollLayout {
  overflow-x: scroll;
  max-width: 100vw;
}
.timetackingItemContainer {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  width: 100%;
  height: 116px;
  padding: 16px;
  gap: 20px;
  flex-shrink: 0;
  border-radius: 20.807px;
  border: 1px solid #eaeaea;
  background: $c-white;
  // box-shadow: 0px 5.202px 5.202px 0px rgba(182, 182, 182, 0.13);
  transition: box-shadow 0.5s;
  .timetackingItemIconWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 84px;
    height: 84px;
    flex-shrink: 0;
    border-radius: 14px;
    border: 1px solid rgba(0, 92, 185, 0.15);
    background: $c-white;
    box-shadow: 0px 5.202px 5.202px 0px rgba(182, 182, 182, 0.13);
  }

  .timetackingItemTitle {
    display: flex;
    flex-direction: column;
    color: $c-black-primary;
    font-size:  clamp(10px, 1.6vw, 22px);
    font-weight: 500;
    line-height: 114.8%; /* 25.256px */
    letter-spacing: -0.33px;
  }

  @media screen and (max-width: $s-tablet) {
    .timetackingItemIconWrapper {
      width: 68px;
      height: 68px;
    }

    .timetackingItemTitle {
      font-size: 20px;
      letter-spacing: -0.27px;
    }
  }
}
.color {
	color: $c-green-primary;
}
.colorGreen {
  color: $c-green-primary;
}
.timetackingItemContainer.blue:hover {
  box-shadow: 0px 0px 20px rgba(65, 147, 156, 0.15);
}

.timetackingItemContainer.green:hover {
  box-shadow: 0px 0px 20px rgba(85, 143, 33, 0.15);
}

.timetackingItemContainer.orange:hover {
  box-shadow: 0px 0px 20px rgba(209, 151, 29, 0.15);
}

.advantagesWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 55px 30px 0;

  .advantagesContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 43px 0;

    .title {
      display: flex;
      flex-direction: column;
      justify-content: center;
      // max-width: 1117px;
      padding: 30px 0;
      color: $c-black-primary;
      text-align: center;
			font-size: clamp(46px, 5vw, 86px);
      font-weight: 500 !important; 
      line-height: 104.8%; /* 71.264px */
      letter-spacing: -1.02px;
      .bold {
        font-weight: 500 !important;
      }
    }

    @media screen and (max-width: $s-desktop) {
      .title {
        font-size: get-d(68px);
      }
    }

    @media screen and (max-width: $s-laptop) {
      .title {
        max-width: 960px;
        font-size: get-ds(68px);
      }
    }

    .subTitle {
      padding-top: 9px;
      color: #b5b4bf;
      font-size: 20px;
      font-weight: 500;
      line-height: 140%; /* 28px */
      letter-spacing: -0.6px;
    }

    .advantagesContentContainer {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      max-width: 1648px;
      padding-top: 86px;
      gap: 47px;
      .bottom {
        position: absolute;
        bottom: -220px;
        @media (max-width: 1000px) {
          display: none;
        }
      }
      .items {
        min-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;

        @media (max-width: 1000px) {
          flex-wrap: wrap;
        }
        .center {
          position: relative;
          width: 60%;
          display: flex;
          justify-content: center;
					@media (max-width: 1000px) {
						width: 100%;
					}
          .leftSvg {
            position: absolute;
            left: -40px;
            top: 50px;
            z-index: -1;
						@media (max-width: 1000px) {
							display: none;
						}
          }
          .rightSvg {
            position: absolute;
            right: -40px;
            top: 50px;
            z-index: -21;
						@media (max-width: 1000px) {
							display: none;
						}
						
          }
          .bottomSvg {
            position: absolute;
            right: 50%;
            left: 50%;
            bottom: -100px;
            z-index: -1;
						@media (max-width: 1200px) {
							display: none;
						}
						
          }
        }
      }
      .advantagesBlockContainer {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 60px;
        width: 100%;
        @media (max-width: 1000px) {
          flex-wrap: wrap;
        }
        .terminalBlock {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          width: 30%;
          gap: 103px 0;
          z-index: -1;
					// @media  (max-width: 1440px) {
					// 	width: 10%;
					// }
          @media (max-width: 1000px) {
            min-width: 90%;
            width: 90%;
          }
          .terminalImageContainer {
            height: 390px;
            width: 390px;
						display: flex;
						align-items: center;
						object-fit: cover; 
				
            .terminalImage {
              width: 100%;
              height: 100%;
              border: 1px solid #bdbdbd;
              border-radius: 60px;
              background-color: #eeeeee;
              overflow: hidden;
							@media (max-width: 1440px) {
								min-height: 390px;
								min-width: 390px;
							}
              object-fit: cover; 

            }

            .terminalImage video {
              width: 100%;
              height: 100%;
              object-fit: cover; 
            }

            @media (max-width: 1000px) {
              .terminalImage {
                height: auto;
              }
              .terminalImage video {
                height: auto;
              }
            }
          }
        }

        .timetackingBlock {
          display: flex;
          flex-direction: column;
          justify-content: start;
          align-items: center;
          width: 30%;
          max-width: 436px;
          gap: 24px 0;
          @media (max-width: 1000px) {
            gap: 24px 24px !important;
						width: 99%;
						max-width: none;
          }
          .timetackingItemWrapper {
            width: 100%;
            min-height: 116px;
          }
        }
      }

      .workdayBlock {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;

        .workdayWrapper {
          min-width: 343px;
          min-height: 116px;
        }
      }
    }

    // @media screen and (max-width: $s-laptop) {
    //   .advantagesContentContainer {
    //     padding-top: 0;

    //     .advantagesBlockContainer {
    //       // flex-direction: column;

    //       .integrationBlock {
    //         width: 100%;
    //         min-width: auto;
    //         max-width: 436px;
    //         gap: 20px 0;
    //         padding-top: 13px;
    //       }

    //       .terminalBlock {
    //         width: 100%;
    //         gap: 103px 0;

    //         .terminalImageContainer {
    //           width: 100%;
    //           max-width: 400px;
    //         }
    //       }

    //       .timetackingBlock {
    //         // flex-direction: row;
    //         justify-content: center;
    //         width: 100%;
    //         min-width: auto;
    //         gap: 0 15px;
    //         padding-top: 50px;

    //         .timetackingItemWrapper {
    //           min-width: 332px;
    //         }
    //       }
    //     }

    //     .workdayBlock {
    //       display: none;
    //     }
    //   }
    // }
  }
}

@media screen and (max-width: $s-tablet) {
  .advantagesWrapper {
    padding: 35px 30px 0;

    .advantagesContainer {
      padding: 0;

      .title {
        max-width: 560px;
        padding: 20px 0;
        text-align: center;
        font-size: 29px;
        letter-spacing: -0.435px;
      }

      .subTitle {
        padding-top: 0;
        font-size: 18px;
        text-align: center;
        font-weight: 400;
        letter-spacing: -0.42px;
      }
    }
  }
}
