.why-choose-zkteco-header{
  padding-top: 10rem;
  padding-bottom: 9.375rem;

  @media (max-width: 992px) {
    padding-bottom: 6.375rem;
  }

  &-title{
    width: 100%;
    max-width: 866px;
    color: #121212;
    text-align: center;
    font-size: 4.375rem;
    font-weight: 300;
    line-height: 104.8%;
    letter-spacing: -2.45px;
    margin: 0 auto;

    @media (max-width: 992px){
      font-size: 3.375rem;
    }
    @media (max-width: 768px){
      font-size: 2.375rem;
    }
  }

  &-description{
    width: 100%;
    max-width: 867px;
    padding: 1.875rem;
    border-radius: 15px;
    border: 1px solid rgba(255, 255, 255, 0.39);
    background: rgba(126, 187, 72, 0.05);
    backdrop-filter: blur(32.04999923706055px);
    color: #121212;
    text-align: center;
    font-size: 1.125rem;
    font-weight: 400;
    line-height: 137%;
    letter-spacing: -0.54px;
    margin: 2.5rem auto 0;
    @media (max-width: 768px){
      padding: 1rem;
    }

    span{
      color: #7EBB48;
    }
  }
}