.ultima-header{
  padding-top: 10.25rem;
  background: url("../../../../../public/images/time-track/header-bg.svg") no-repeat center top;
  background-size: 80%;
  padding-bottom: 4.1875rem;
  &-title{
    color: #121212;
    font-size: 6.625rem;
    font-weight: 300;
    line-height: 104.8%;
    letter-spacing: -0.231875rem;
    margin-bottom: 1rem;
    text-align: center;
    @media (max-width: 992px) {
      font-size: 4.625rem;
    }
    @media (max-width: 576px) {
      font-size: 3.625rem;
    }

  }
  &-subtitle{
    color: #B5B4BF;
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 120%;
    text-align: center;
  }
  &-image{
    width: 31.25rem;
    height: auto;

    @media (max-width: 768px) {
      width: 26.25rem;
    }
    @media (max-width: 455px) {
      width: 21.25rem;
    }
  }


  &-solid{
    width: 100%;
    margin-left: -20px;
    height: 356px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    margin-top: 300px;

    &.two{
      transform: rotate(7deg);
      .ultima-header-solid-solid{
        transition-delay: 0.5s;
      }
    }

    &-blur{
      width: 100%;
      height: 100%;
      position: absolute;
      left: 0;
      top: 0;
      overflow: hidden;
      object-fit: cover;
      background: url("../../../../../public/images/connect-vector-blur.svg") no-repeat left top;
    }

    &-solid{
      width: 0;
      height: 100%;
      position: absolute;
      left: 0;
      top: 7px;
      overflow: hidden;
      object-fit: cover;
      background: url("../../../../../public/images/connect-vector.svg") no-repeat left top;
      transition: 4s width;

      @media (max-width: 1440px){
        top: 3px;
      }

      &.active{
        width: 100%;
      }
    }

    button{
      position: relative;
      margin-top: 140px;
    }
  }
}

.layout {
	width: 100%;
	display: flex;
	justify-content: center;
	.us-product-items {
		display: flex;
		width: 90%;
		max-width: 1200px;
		display: flex;
		justify-content: space-between;
		padding-bottom: 100px;
		@media (max-width: 800px) {
			justify-content: center;
		}
		button {
			border-radius: 13px;
			padding: 8px;
			background: #fff;
			box-shadow: 0 5px 5px #cbcbcbb8 !important;
			margin-bottom: 20px;
		}
		.desc__tag {
			font-size: 15px;
			color: #000;
			font-weight: 500;
			opacity: 0.6;
			height: 60px;
			border-bottom: 2px solid #6c6c6c;
		}
		.textActive {
			opacity: 1;
			color: #6ea43f;
			border-color: #6ea43f;
		}
		.active {
			background: radial-gradient(
				78.73% 78.73% at 49.39% 49.86%,
				#6ea43f 11.66%,
				#6ea43f 46%,
				rgba(110, 164, 63, 0.84) 59.9%,
				#9bda64 78.52%,
				#9bda64 100%
			);
			box-shadow: none;
		}
	}
}