.mainNavBar {
  .highLink {
    position: relative;
    z-index: 212313210;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0 45px;

    .button {
      color: $c-black-primary;
      font-size: 20px;
      letter-spacing: -0.1px;
			padding: 4px 12px;

      .downArrow {
        margin-left: 6px;
      }
    }
		.active {
			background-color: #C9C9C926;
			border-radius: 10px;
		}
    .white {
      color: $c-white;
    }
  }
  .dropDown {
    top: 0px;
    position: fixed;
    z-index: 100;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.54);
    height: 100vh;
    .content {
      z-index: 10;
      background-color: #fff;
      width: 100%;
      box-sizing: border-box;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
			
      .items {
        padding: 120px 0px 60px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 214px;
        h3 {
          margin-bottom: 28px;
          color: rgb(135, 135, 135);
          font-size: 20px;
          font-weight: 700;
          line-height: 24px;
          letter-spacing: -0.5%;
        }
      }
      .links {
        display: flex;
        flex-direction: column;
        gap: 20px;
      }
			.alt {
				display: grid !important;
				grid-template-columns: 1fr 1fr !important;
			}
      .link {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 10px;
        div {
          display: flex;
          flex-direction: column;
          gap: 5px;
          justify-content: space-between;
        }
        h3 {
          color: rgb(18, 18, 18);
          font-family: "Roboto";
          font-size: 16px;
          margin: 0;
          font-weight: 700;
          line-height: 19px;
          letter-spacing: -0.5%;
        }
        p {
          margin: 0;
          color: rgb(18, 18, 18);
					opacity: 0.4;
          font-size: 14px;
          font-weight: 400;
          line-height: 16.8px;
          letter-spacing: -0.5%;
          text-align: left;
        }
      }
    }
    .out {
      height: 120%;
    }
  }
}

@media screen and (max-width: $s-laptop) {
  .mainNavBar {
    gap: 0 get-ds(30px);
  }
}
