.wrapper {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 0.168);
	backdrop-filter: blur(20px);
	z-index: 1000000000 !important;
	display: flex;
	justify-content: center;
	align-items: center;
}