.wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 150px 0px;
  .content {
    width: 90%;
    max-width: 1800px;
    .heading {
      font-weight: 400;
      font-size: clamp(24px, 3vw, 54px);
    }
    .items {
      display: flex;
      flex-direction: column;
      .item {
        display: flex;
        row-gap: 24px;
        padding: 40px 0px;
        border-bottom: 2px solid #ebebeb;
        @media (max-width: 1200px) {
          flex-wrap: wrap;
        }
        h4 {
          min-width: 20%;
          font-size: clamp(24px, 3vw, 34px);
          font-weight: 400;
          @media (max-width: 1200px) {
            min-width: 100%;
          }
        }
        .secp {
          display: flex;
          flex-wrap: wrap;
          column-gap: clamp(50px, 8vw, 80px);
          row-gap: 20px;
        }
        .secpItem {
          display: flex;
          align-items: center;
          gap: 15px;
          div {
            font-size: 16px;
          }
          .name {
            font-weight: 500;
          }
        }
      }
    }
  }
}
