.wrapper {
  margin-top: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  h3 {
    font-size: 54px;
    font-weight: normal;
  }
  .items {
    margin-top: 50px;
    display: flex;
    @media (max-width: 1200px) {
      flex-wrap: wrap;
    }
    gap: 20px;
    .item {
      position: relative;
      height: 302px;
      padding: 30px;
      width: 25%;
			@media (max-width: 1200px) {
				width: 100%;
			}
      background-color: #f9f9f9;
      border-radius: 23px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      button {
        position: absolute;
        top: 15px;
        right: 15px;
        border-radius: 12px;
        padding: 8px 8px;
        background-color: $c-green-primary;
      }
      .line {
        height: 2px;
        width: 100%;
        background-color: #e5e5e5;
      }
      .imgs {
        display: flex;
        gap: 5px;
        align-items: center;
      }
      .name {
        font-size: 25px;
        letter-spacing: -1.5%;
      }
      .description {
        font-size: 14px;
        letter-spacing: -1%;
        line-height: 16.8px;
        color: #50565f;
      }
    }
		// .item:hover {
		// 	box-shadow: 0 0 40px rgba(0, 0, 0, 0.1);
		// 	background-color: #fff;
		// }
  }
}
