.slider-functions{
  width: 450px;
  height: 142px;
  position: relative;
  &-slider{
    padding-top: 20px;
    width: calc(100% + 250px);
    position: relative;
    left: -110px;
    overflow: hidden;
    z-index: 1;
    //&:after{
    //  content: "";
    //  position: absolute;
    //  right: 0;
    //  top: 40px;
    //  width: 50px;
    //  height: 58px;
    //  background: linear-gradient(90deg, transparent, #fff);
    //}
    //&:before{
    //  content: "";
    //  position: absolute;
    //  left: 0;
    //  top: 40px;
    //  width: 50px;
    //  height: 58px;
    //  background: linear-gradient(-90deg, transparent, #fff);
    //  z-index: 1;
    //}
  }
  .slick-track{
    padding-bottom: 20px;
    padding-top: 20px;
  }
  .slick-arrow{
    display: none !important;
  }
  .slick-slider {
    margin: 0 150px;
  }
  .slick-list{
   overflow: unset;
    padding: 0 63px !important;
  }
  .slick-center{
    transition: 0.3s;
    transform: scale(1.5);
  }
  .slick-slide{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &-item{
    max-width: 58px;
    min-width: 58px;
    min-height: 58px;
    flex-shrink: 0;
    border-radius: 16px;
    background: #FFF;
    box-shadow: 0 4.065px 4.065px 0 rgba(182, 182, 182, 0.25);
    display: flex !important;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    transition: 0.3s;
  }
  &:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    border: 1px solid #FFF;
    background: rgba(247, 253, 246, 0.50);
    backdrop-filter: blur(62px);
    border-radius: 100%;
    overflow: hidden;
  }
  &:before{
    content: "";
    position: absolute;
    top: 0;
    width: 120px;
    height: 120px;
    border-radius: 50%;
    left: 50%;
    transform: translate(-50%, -20%);
    background: radial-gradient(84.08% 84.08% at 49.39% 49.86%, #606C6D 11.66%, #606C6D 46%, rgba(96, 108, 109, 0.84) 59.9%, rgba(142, 161, 163, 0.80) 78.52%, #8EA1A3 100%);
  }
}