.flex {
	width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  .aside {
	font-family: 'Roboto' !important;
    margin-top: 60px;
    max-width: 450px;
    width: 100%;
    height: 319px;
    padding: 40px 100px 40px 40px;
    border-radius: 20px;
    backdrop-filter: blur(81.8px);
    background: linear-gradient(
      180deg,
      rgba(243, 252, 241, 0.8),
      rgba(243, 252, 241, 0) 100%
    );
    border: 2px solid rgba(243, 252, 241, 0.8);
		@media (max-width: 1000px) {
			height: auto;
		}
    h3 {
      color: rgb(18, 18, 18);
      font-size: 36px;
      font-weight: 600;
      line-height: 104.8%;
      letter-spacing: -1.5%;
    }
    p {
      margin-top: 20px;
      color: rgb(84, 84, 84);
      font-size: 16px;
      font-weight: 400;
      line-height: 120%;
      letter-spacing: 0%;
    }
    button {
      margin-top: 50px;
    }
  }
  h2 {
    margin-top: 60px;
    color: rgb(18, 18, 18);
    font-size: 26px;
    font-weight: 600;
    line-height: 104.8%;
    letter-spacing: -1.5%;
  }
	.links {
		padding-top: 20px;
		display: flex;
		gap: 10px;
		svg {
			cursor: pointer;
		}
	}
}
