.second {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  align-items: flex-start;
  width: 100%;
  max-width: 1648px;
  padding-top: 86px;
  @media (max-width: 1000px) {
    flex-wrap: wrap;
  }
  .left {
    width: 60%;
    max-width: 980px;
    display: flex;
    flex-wrap: wrap;
		row-gap: 90px;
		justify-content: space-between;
    order: 1;
    @media (max-width: 1000px) {
      width: 100%;
      order: 2;
    }
    .post {
      width: 48%;
      @media (max-width: 1400px) {
        width: 100%;
      }
      img {
        width: 100%;
        border-radius: 20px;
      }
      .header {
        margin-top: 34px;
        opacity: 0.7;
        width: 100%;
        display: flex;
        justify-content: space-between;
        color: rgb(18, 18, 18);
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: -0.5%;
        text-transform: uppercase;
      }
      .title {
        margin-top: 15px;
        color: rgb(18, 18, 18);
        font-size: 24px;
        line-height: 124.8%;
        letter-spacing: 110%;
        @media (max-width: 1400px) {
          font-size: 18px;
        }
      }
    }
    .bigPost {
      min-width: 100%;
      .header {
        font-size: 20px;
      }
			.title {
				font-size: 46px;
				letter-spacing: 3px;
				@media (max-width: 1400px) {
          font-size: 24px;
        }
			}
    }
  }
  .right {
    display: flex;
    flex-direction: column;
    width: 40%;
    max-width: 500px;
    order: 2;
    @media (max-width: 1000px) {
      width: 100%;
      order: 1;
    }
    .subText {
      color: rgb(18, 18, 18);
      font-size: 20px;
      opacity: 0.7;

      line-height: 24px;
      letter-spacing: -0.5%;
    }
    .categorys {
      margin-top: 30px;
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      .category {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        padding: 11px 20px 11px 20px;
        border-radius: 89.61px;
        background: rgb(255, 255, 255);
        border: 1px solid rgb(233, 234, 234);
        color: rgb(18, 18, 18);
        font-family: "Roboto";
        font-size: 18px;
        font-weight: 500;
        line-height: 22px;
        letter-spacing: 0%;
        cursor: pointer;
        @media (max-width: 1400px) {
          font-size: 14px;
        }
        span {
          white-space: nowrap;
        }
        svg {
          fill: #000;
          color: #000;
        }
      }
      .active {
        border: none;
        background: $c-green-primary;
        color: #fff;
        svg {
          fill: #fff;
        }
      }
    }
    
  }
}
