.wrapper {
  font-family: "AcidGrotesk";
  padding: 159px 30px 150px;
  color: #000;
  display: flex;
  justify-content: center;
  .content {
    width: 90vw;
    max-width: 1600px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    img {
      width: 100%;
    }
    .title {
      margin-top: 50px;
      width: 100%;
      font-size: clamp(29px, 3vw, 40px);
      font-weight: bold;
    }
    .place {
      display: flex;
      align-items: center;
      gap: 20px;
      p {
        font-size: clamp(14px, 1.5vw, 16px);
        color: #121212;
      }
    }
    .description {
      margin-top: 25px;
      font-size: clamp(14px, 2vw, 18px);
      color: #545454;
      line-height: clamp(21px, 2.5vw, 27px);
      text-align: justify;
    }
  }
}
